/****** Skript für SelectTopNRows-Befehl aus SSMS  ******/
SELECT TOP 1000 [OrganisationsNr]
      ,[MessageID]
      ,[CreationDateTime]
      ,[NumberOfTransactions]
      ,[ControlSum]
      ,[InitiatingPartyname]
      ,[PaymentInformationID]
      ,[PaymentMethod]
      ,[BatchBooking]
      ,[NumberOfTransactionsPaymentInfo]
      ,[ControlSumPaymentInfo]
      ,[ServiceLevelCode]
      ,[LocalInstrumentCode]
      ,[SequenceType]
      ,[CategoryPurpose]
      ,[RequestedCollectionDate]
      ,[CreditorName]
      ,[CreditorPostalAddressCountry]
      ,[CreditorPostalAddressAddressLine]
      ,[CreditorAccountIBAN]
      ,[CreditorAccountCurrency]
      ,[CreditorAgentBIC]
      ,[ChargeBearer]
      ,[CreditorIdentification]
      ,[InstructionID]
      ,[EndToEndID]
      ,[InstructedAmount]
      ,[MandateID]
      ,[DateOfSignature]
      ,[AmendmentIndicator]
      ,[OriginalMandateID]
      ,[OriginalCreditorName]
      ,[OriginalCreditorIdentification]
      ,[OriginalDebtorAccountIBAN]
      ,[OriginalDebtorAgentBIC]
      ,[CreditorIdentificationTransactionInfo]
      ,[DebtorAgentBIC]
      ,[DebtorName]
      ,[DebtorPostalAddressCountry]
      ,[DebtorPostalAddressAddressLine]
      ,[DebtorAccountIBAN]
      ,[PurposeCode]
      ,[UnstructuredRemittanceInfo]
      ,[LastschriftStatus]
      ,[DatumImport]
      ,[DatumAbrechnung]
  FROM [SEPA_DEV].[dbo].[Lastschriften]
  WHERE DatumAbrechnung is Null
  ORDER BY MessageID, PaymentInformationID